
.statistics{
    width: 200px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background: url(../img/udder.png);
    background-repeat: no-repeat;
    padding: 20px;
    padding-right: 80px;
}

.points{
    
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    
    height: min-content;
    gap: 50px;
}